<!DOCTYPE html>
<html>
  <head>
    <title>My Travel Journal</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
    <body>
      <h1>Travel Journal</h1>
      <h6>January 1st, 2000</h6>
      <p>
      In faucibus quis neque ut commodo. Nulla dolor sem, sagittis eget nunc sit amet, auctor scelerisque odio. Quisque ut condimentum est. Cras rutrum lorem purus, eu vehicula lectus pulvinar non. Mauris eleifend est ut justo elementum, sed lobortis nunc fermentum. Morbi posuere eu arcu sodales sollicitudin. Duis tristique ex elit, a vestibulum purus sagittis in.
      </p>
    </body>
</html>
